@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    padding: 10%;
    border: 5px solid rgb(95, 99, 133);
    margin: 5px;
   
}
header{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
    width: 100%;
}
main{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: beige;
}

 /* Navigation */

nav{
  background-color: beige;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: beige;
    
  }
  li{
    float: left;
    background-color: beige;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }

  li a.active {
    background-color: #04AA6D;
    color: white;
  }
 /* Navigation ende */

p{
  left: 10%;
}

h1{
    font-size: 2em; 
    font-family: Cinzel;
}
h2{
    font-size: 1em;
}
#stext{
    
    font-size: 1em;
}
img{
    position: absolute;
    left: 43%;
    top: 20%;
    display: inline;
    width: 5%;
    height: 10%;
}


#copyright {
  position: absolute;
  left: 43%;
  display: inline;
  background-color: beige;
}


@media (min-wirth: 50em) {
  article{
      float: left;
      width: 50%;
      display: grid;
  }
}